*.cpp linguist-detectable=true
*.hpp linguist-detectable=true
*.hxx linguist-detectable=true
*.cc linguist-detectable=true
*.cxx linguist-detectable=true
*.c linguist-detectable=false
*.h linguist-detectable=false
*.cs linguist-detectable=false
*.xaml linguist-detectable=false

